pre-commit
pip-tools
twine
black
black[jupyter]
pylint
mypy
coverage
mkdocs
mkdocstrings[python]
mkdocs-material
mkdocs-autorefs
mkdocs-section-index
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-jupyter
pyyaml
types-pyyaml
notebook
jupytext
pandas
