@media screen and (max-width: 600px) {
  .image-gallery {
    width: 99%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1400px) {
  .image-gallery {
    width: 49%;
  }
}

@media screen and (min-width: 1401px) {
  .image-gallery {
    width: 32%;
  }
}

.image-gallery {
  float: left;
  /*max-width: 320px !important;*/
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
