@media screen and (max-width: 600px) {
  .image-gallery {
    width: 75%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1687px) {
  .image-gallery {
    width: 37.5%;
  }
}

@media screen and (min-width: 1688px) {
  .image-gallery {
    width: 25%;
  }
}

.image-gallery {
  float: left;
  max-width: 450px !important;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
