name: CI-CD

on:
  release:
    types: [published]
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  init:
    uses: ./.github/workflows/init.yml

  ci:
    uses: ./.github/workflows/ci.yml
    needs: init

  doc:
    uses: ./.github/workflows/doc.yml
    needs: ci

  release:
    uses: ./.github/workflows/release.yml
    secrets: inherit
    needs: doc
