# This is a basic workflow to help you get started with Actions

name: Push doumentation to gh-pages

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Configure git
        run: |
          git config --global user.mail doc@github.com
          git config --global user.name doc

      - name: Switch to gh-pages branch
        run: |
          git branch -f gh-pages
          git switch gh-pages

      - name: Build dev environment
        run: make dev

      - name: Build documentation
        run: make doc

      - name: Push to gh-pages branch
        run: |
          git add docs
          git commit -am 'docs: update'
          git push -f origin gh-pages
